In [1]:
'''
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row, Column
from pyspark.sql.functions import upper, pandas_udf

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

df1 = spark.createDataFrame([(2, 3., 'stringtest1', date(2001,3,2), datetime(2001,2,3,13,1))], schema='a long, b double, c string, d date, e timestamp')
df

df1

df.show()
df1.show()

df.printSchema()
df1.printSchema()

df.describe().show()

df.collect()

df.toPandas()

df.a

df.withColumn('UPPER_C', upper(df.c)).show()

@pandas_udf('long')
def pandas_plus_one(series: pd.Series) -> pd.Series:
    return series+1
df.select(pandas_plus_one(df.a)).show()
'''

"\nfrom pyspark.sql import SparkSession\nspark = SparkSession.builder.getOrCreate()\nfrom datetime import datetime, date\nimport pandas as pd\nfrom pyspark.sql import Row, Column\nfrom pyspark.sql.functions import upper, pandas_udf\n\ndf = spark.createDataFrame([\n    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),\n    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),\n    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))\n])\n\ndf1 = spark.createDataFrame([(2, 3., 'stringtest1', date(2001,3,2), datetime(2001,2,3,13,1))], schema='a long, b double, c string, d date, e timestamp')\ndf\n\ndf1\n\ndf.show()\ndf1.show()\n\ndf.printSchema()\ndf1.printSchema()\n\ndf.describe().show()\n\ndf.collect()\n\ndf.toPandas()\n\ndf.a\n\ndf.withColumn('UPPER_C', upper(df.c)).show()\n\n@pandas_udf('long')\ndef pandas_plus_one(series: pd.Series) -> pd.Series:\n    return series+1\ndf.select(pandas_plus_one(df.a)).show()\n"

In [3]:
# Learning PySpark using E-Commerce Dataset

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("DataCamp PySpark Tutorial").config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","10g").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/06 12:46:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/06 12:46:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.csv('./data.csv', header=True, escape="\"")

In [5]:
df.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

In [6]:
df.count()

541909

In [7]:
customer=df.groupby('CustomerID').count()

In [8]:
customer.show()

+----------+-----+
|CustomerID|count|
+----------+-----+
|     16250|   24|
|     15574|  168|
|     15555|  925|
|     15271|  275|
|     17714|   10|
|     17757|  742|
|     17551|   43|
|     13187|   37|
|     16549|  981|
|     12637|  394|
|     15052|   30|
|     14525|  298|
|     18283|  756|
|     13107|   60|
|     16303|  167|
|     13174|  314|
|     13027|   26|
|     12957|  244|
|     17128|   14|
|     14439|   32|
+----------+-----+
only showing top 20 rows

In [9]:
df.select('CustomerID').distinct().count()

4373

In [10]:
df.groupby('Country').agg(count_distinct('CustomerID').alias('country_count')).show()

+------------------+-------------+
|           Country|country_count|
+------------------+-------------+
|            Sweden|            8|
|         Singapore|            1|
|           Germany|           95|
|               RSA|            1|
|            France|           87|
|            Greece|            4|
|European Community|            1|
|           Belgium|           25|
|           Finland|           12|
|             Malta|            2|
|       Unspecified|            4|
|             Italy|           15|
|              EIRE|            3|
|         Lithuania|            1|
|            Norway|           10|
|             Spain|           31|
|           Denmark|            9|
|         Hong Kong|            0|
|            Israel|            4|
|           Iceland|            1|
+------------------+-------------+
only showing top 20 rows

In [11]:
df.groupby('Country').count().orderBy(desc('count')).show()

+---------------+------+
|        Country| count|
+---------------+------+
| United Kingdom|495478|
|        Germany|  9495|
|         France|  8557|
|           EIRE|  8196|
|          Spain|  2533|
|    Netherlands|  2371|
|        Belgium|  2069|
|    Switzerland|  2002|
|       Portugal|  1519|
|      Australia|  1259|
|         Norway|  1086|
|          Italy|   803|
|Channel Islands|   758|
|        Finland|   695|
|         Cyprus|   622|
|         Sweden|   462|
|    Unspecified|   446|
|        Austria|   401|
|        Denmark|   389|
|          Japan|   358|
+---------------+------+
only showing top 20 rows

In [13]:
spark.sql("set spark.sql.legacy.timeParserPolicy=Legacy")
df = df.withColumn('date', to_timestamp("InvoiceDate", 'MM/dd/yy HH:mm'))
df.select(max('date')).show()
df.select(min('date')).show()

+-------------------+
|          max(date)|
+-------------------+
|2011-12-09 12:50:00|
+-------------------+

+-------------------+
|          min(date)|
+-------------------+
|2010-12-01 08:26:00|
+-------------------+

In [14]:
df.orderBy(desc('date')).show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|               date|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
|   581587|    22613|PACK OF 20 SPACEB...|      12|12/9/2011 12:50|     0.85|     12680|        France|2011-12-09 12:50:00|
|   581587|    22631|CIRCUS PARADE LUN...|      12|12/9/2011 12:50|     1.95|     12680|        France|2011-12-09 12:50:00|
|   581587|    22556|PLASTERS IN TIN C...|      12|12/9/2011 12:50|     1.65|     12680|        France|2011-12-09 12:50:00|
|   581587|    22555|PLASTERS IN TIN S...|      12|12/9/2011 12:50|     1.65|     12680|        France|2011-12-09 12:50:00|
|   581587|    22728|ALARM CLOCK BAKEL...|       4|12/9/2011 12:50|     3.75|     12680|        France|2011-12-09 12:50:00|
|   581587|    22727|ALARM CLOCK BAKEL...|       4|12/9/2011 12:50|     3.75|     12680|        France|2011-12-09 12:50:00|
|   581587|    22726|ALARM CLOCK BAKEL...|       4|12/9/2011 12:50|     3.75|     12680|        France|2011-12-09 12:50:00|
|   581587|    22730|ALARM CLOCK BAKEL...|       4|12/9/2011 12:50|     3.75|     12680|        France|2011-12-09 12:50:00|
|   581587|    22367|CHILDRENS APRON S...|       8|12/9/2011 12:50|     1.95|     12680|        France|2011-12-09 12:50:00|
|   581587|    22629| SPACEBOY LUNCH BOX |      12|12/9/2011 12:50|     1.95|     12680|        France|2011-12-09 12:50:00|
|   581587|    23256|CHILDRENS CUTLERY...|       4|12/9/2011 12:50|     4.15|     12680|        France|2011-12-09 12:50:00|
|   581587|    22899|CHILDREN'S APRON ...|       6|12/9/2011 12:50|      2.1|     12680|        France|2011-12-09 12:50:00|
|   581587|    23254|CHILDRENS CUTLERY...|       4|12/9/2011 12:50|     4.15|     12680|        France|2011-12-09 12:50:00|
|   581587|    23255|CHILDRENS CUTLERY...|       4|12/9/2011 12:50|     4.15|     12680|        France|2011-12-09 12:50:00|
|   581587|    22138|BAKING SET 9 PIEC...|       3|12/9/2011 12:50|     4.95|     12680|        France|2011-12-09 12:50:00|
|   581586|    22061|LARGE CAKE STAND ...|       8|12/9/2011 12:49|     2.95|     13113|United Kingdom|2011-12-09 12:49:00|
|   581586|    23275|SET OF 3 HANGING ...|      24|12/9/2011 12:49|     1.25|     13113|United Kingdom|2011-12-09 12:49:00|
|   581586|    21217|RED RETROSPOT ROU...|      24|12/9/2011 12:49|     8.95|     13113|United Kingdom|2011-12-09 12:49:00|
|   581586|    20685|DOORMAT RED RETRO...|      10|12/9/2011 12:49|     7.08|     13113|United Kingdom|2011-12-09 12:49:00|
|   581585|    22726|ALARM CLOCK BAKEL...|       8|12/9/2011 12:31|     3.75|     15804|United Kingdom|2011-12-09 12:31:00|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
only showing top 20 rows

In [15]:
df.show(5,0)

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |date               |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|2010-12-01 08:26:00|
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|2010-12-01 08:26:00|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|2010-12-01 08:26:00|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+-------------------+
only showing top 5 rows

In [16]:
df = df.withColumn("from_date", lit("12/1/24 08:26"))
df = df.withColumn('from_date',to_timestamp("from_date", 'yy/MM/dd HH:mm'))

df2=df.withColumn('from_date',to_timestamp(col('from_date'))).withColumn('recency',col("date").cast("long") - col('from_date').cast("long"))

In [17]:
df2.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+---------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|               date|          from_date|  recency|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+---------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|2010-12-01 08:26:00|2012-01-24 08:26:00|-36201600|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|2012-01-24 08:26:00|-36201480|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|2012-01-24 08:26:00|-36201480|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|2010-12-01 08:34:00|2012-01-24 08:26:00|-36201120|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+---------+
only showing top 20 rows

In [18]:
df2 = df2.join(df2.groupBy('CustomerID').agg(max('recency').alias('recency')),on='recency',how='leftsemi')

In [19]:
df2.show(5)

+---------+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
|  recency|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|               date|          from_date|
+---------+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
|-36196380|   536384|    82484|WOOD BLACK BOARD ...|       3|12/1/2010 9:53|     6.45|     18074|United Kingdom|2010-12-01 09:53:00|2012-01-24 08:26:00|
|-36196380|   536384|    84755|COLOUR GLASS T-LI...|      48|12/1/2010 9:53|     0.65|     18074|United Kingdom|2010-12-01 09:53:00|2012-01-24 08:26:00|
|-36196380|   536384|    22464|HANGING METAL HEA...|      12|12/1/2010 9:53|     1.65|     18074|United Kingdom|2010-12-01 09:53:00|2012-01-24 08:26:00|
|-36196380|   536384|    21324|HANGING MEDINA LA...|       6|12/1/2010 9:53|     2.95|     18074|United Kingdom|2010-12-01 09:53:00|2012-01-24 08:26:00|
|-36196380|   536384|    22457|NATURAL SLATE HEA...|      12|12/1/2010 9:53|     2.95|     18074|United Kingdom|2010-12-01 09:53:00|2012-01-24 08:26:00|
+---------+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+-------------------+
only showing top 5 rows

In [20]:
df2.printSchema()

root
 |-- recency: long (nullable = true)
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- from_date: timestamp (nullable = true)

In [21]:
df_freq = df2.groupBy('CustomerID').agg(count('InvoiceDate').alias('frequency'))

In [22]:
df_freq.show()

24/07/06 12:47:04 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+----------+---------+
|CustomerID|frequency|
+----------+---------+
|     17714|       10|
|     17551|       43|
|     13187|       37|
|     15052|       30|
|     17128|       14|
|     14439|       32|
|     18106|       39|
|     17855|       17|
|     12386|        2|
|     13065|       14|
|     16510|       13|
|     17303|       53|
|     15100|        1|
|     13328|       17|
|     15899|        4|
|     16519|       13|
|     15350|        5|
|     18113|        1|
|     13144|        3|
|     15180|        6|
+----------+---------+
only showing top 20 rows

In [24]:
df3 = df2.join(df_freq,on='CustomerID',how='inner')

In [25]:
df3.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- recency: long (nullable = true)
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- from_date: timestamp (nullable = true)
 |-- frequency: long (nullable = false)

In [27]:
m_val = df3.withColumn('TotalAmount', col('Quantity') * col('UnitPrice'))

In [29]:
m_val = m_val.groupby('CustomerID').agg(sum('TotalAmount').alias('monetary_value'))

In [31]:
m_val.show(5)

+----------+------------------+
|CustomerID|    monetary_value|
+----------+------------------+
|     17714|             153.0|
|     17551|            306.84|
|     13187|236.01999999999995|
|     15052|            215.78|
|     17128|            157.09|
+----------+------------------+
only showing top 5 rows

In [32]:
final_df = m_val.join(df3,on='CustomerID', how='inner')

In [33]:
final_df.show()

+----------+--------------+---------+---------+---------+--------------------+--------+----------------+---------+--------------+-------------------+-------------------+---------+
|CustomerID|monetary_value|  recency|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|       Country|               date|          from_date|frequency|
+----------+--------------+---------+---------+---------+--------------------+--------+----------------+---------+--------------+-------------------+-------------------+---------+
|     17714|         153.0|-31614840|   541837|    21494|ROTATING LEAVES T...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|    84347|ROTATING SILVER A...|       6| 1/23/2011 10:32|     2.55|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|   85036B|CHOCOLATE 1 WICK ...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|   85034B|3 WHITE CHOC MORR...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|   85035B|CHOCOLATE 3 WICK ...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|   85159A|BLACK TEA,COFFEE,...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|   85180A|RED HEARTS LIGHT ...|      12| 1/23/2011 10:32|     1.25|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|    22317|FIVE CATS HANGING...|       6| 1/23/2011 10:32|     2.95|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|    84580|MOUSE TOY WITH PI...|       4| 1/23/2011 10:32|     3.75|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17714|         153.0|-31614840|   541837|    84581|DOG TOY WITH PINK...|       4| 1/23/2011 10:32|     3.75|United Kingdom|2011-01-23 10:32:00|2012-01-24 08:26:00|       10|
|     17551|        306.84|-34971240|   539019|   46000P|POLYESTER FILLER ...|       4|12/15/2010 14:12|     4.25|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|   82494L|WOODEN FRAME ANTI...|       1|12/15/2010 14:12|     2.95|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    21232|STRAWBERRY CERAMI...|       1|12/15/2010 14:12|     1.25|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    22693|GROW A FLYTRAP OR...|      24|12/15/2010 14:12|     1.25|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|   84536A|ENGLISH ROSE NOTE...|       7|12/15/2010 14:12|     0.42|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|   85123A|WHITE HANGING HEA...|       4|12/15/2010 14:12|     2.95|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    84836|ZINC METAL HEART ...|       6|12/15/2010 14:12|     1.25|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    22150|3 STRIPEY MICE FE...|       2|12/15/2010 14:12|     1.95|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    22149|FELTCRAFT 6 FLOWE...|       2|12/15/2010 14:12|      2.1|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
|     17551|        306.84|-34971240|   539019|    20980|36 PENCILS TUBE POSY|       3|12/15/2010 14:12|     1.25|United Kingdom|2010-12-15 14:12:00|2012-01-24 08:26:00|       43|
+----------+--------------+---------+---------+---------+--------------------+--------+----------------+---------+--------------+-------------------+-------------------+---------+
only showing top 20 rows

In [35]:
final_df.count()

91389

In [36]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler

In [38]:
assemble=VectorAssembler(inputCols=[
    'recency','frequency','monetary_value'
], outputCol='features')

assembled_data=assemble.transform(final_df)

scale=StandardScaler(inputCol='features',outputCol='standardized')
data_scale=scale.fit(assembled_data)
data_scale_output=data_scale.transform(assembled_data)

In [39]:
data_scale_output.select('standardized').show(2,truncate=False)

+-------------------------------------------------------------+
|standardized                                                 |
+-------------------------------------------------------------+
|[-3.8424347139456296,0.14708124724770674,0.12614330373966906]|
|[-3.8424347139456296,0.14708124724770674,0.12614330373966906]|
+-------------------------------------------------------------+
only showing top 2 rows

In [41]:
df.createOrReplaceTempView("tableA")
spark.sql("select count(*) from tableA").show()

+--------+
|count(1)|
+--------+
|  541909|
+--------+

In [46]:
import pandas as pd
from pyspark.sql.functions import expr

@pandas_udf("integer")
def add_one(s:pd.Series) -> pd.Series:
    return s+1

24/07/06 12:49:55 ERROR ArrowPythonRunner: Python worker exited unexpectedly (crashed)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/veera/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 1225, in main
    eval_type = read_int(infile)
  File "/Users/veera/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:572)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:525)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:620)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:623)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1570)
Caused by: java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/07/06 12:49:55 ERROR ArrowPythonRunner: This may have been caused by a prior exception:
java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/07/06 12:49:55 ERROR Executor: Exception in task 0.0 in stage 116.0 (TID 314)
java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)
24/07/06 12:49:55 WARN TaskSetManager: Lost task 0.0 in stage 116.0 (TID 314) (veeras-mbp executor driver): java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)

24/07/06 12:49:55 ERROR TaskSetManager: Task 0 in stage 116.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling o242.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 116.0 failed 1 times, most recent failure: Lost task 0.0 in stage 116.0 (TID 314) (veeras-mbp executor driver): java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2856)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2792)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2791)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2791)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1247)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1247)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2994)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2983)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:989)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2398)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2419)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2438)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4332)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4322)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4320)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4320)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3314)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3537)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:103)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1570)
Caused by: java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at org.apache.arrow.memory.util.MemoryUtil.directBuffer(MemoryUtil.java:174)
	at org.apache.arrow.memory.ArrowBuf.getDirectBuffer(ArrowBuf.java:229)
	at org.apache.arrow.memory.ArrowBuf.nioBuffer(ArrowBuf.java:224)
	at org.apache.arrow.vector.ipc.WriteChannel.write(WriteChannel.java:133)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.writeBatchBuffers(MessageSerializer.java:303)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:276)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:147)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:133)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream(PythonArrowInput.scala:140)
	at org.apache.spark.sql.execution.python.BasicPythonArrowInput.writeIteratorToArrowStream$(PythonArrowInput.scala:124)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner.writeIteratorToArrowStream(ArrowPythonRunner.scala:30)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.$anonfun$writeIteratorToStream$1(PythonArrowInput.scala:96)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.sql.execution.python.PythonArrowInput$$anon$1.writeIteratorToStream(PythonArrowInput.scala:102)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:451)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:282)